/* color */
/* первичний цвет фона #FFFFFF */
/* вторичній цвет фона #F4F4FD*/
/* цвет footer #2E2F42 */
/* Logo, button Акцент-  #4D5AE5*/
/* menu, h3, h2 nav-#2E2F42 */
/* adress, p, - #434455*/


/* Text */
/* Logo- ExtraBold */
/* Roboto */

:root{
--body-color:#FFFFFF;
--main-text-color:#434455;
--hover-focus-color:#404BBF;
--ferstlogo-btn-color:#4D5AE5;
--logo-nav-footer-color:#2E2F42;
--fonbtn-fonsect-logofooter-color:#F4F4FD;
--textfooter-color:#E7E9FC;

}

body {
    background-color: var(--body-color);
    color: var(--main-text-color);
}
.list{
    list-style: none;
}

.logo{
    color:var(--logo-nav-footer-color);
}
.logoferst{
    color:var(--ferstlogo-btn-color);

}
/* Site nav */
.site-nav .link{
    color:var(--logo-nav-footer-color);
}
.site-nav .link:hover, 
.site-nav .link:focus{
 color: var(--hover-focus-color);
}

/* Auth nav */
.auth-nav .link{
    color:var(--main-text-color);
}
.auth-nav .link:hover, 
.auth-nav .link:focus
{
    color: var(--hover-focus-color);
}
/* hero */
.hero-title, .hero-btn{
    color:var(--body-color);
}
.hero-btn{
    background-color: var(--ferstlogo-btn-color);
}
.hero-btn:hover {
    background-color: var(--hover-focus-color);
}

/* section */
.section-title, .subtitle{
    color:var(--logo-nav-footer-color);
}
.team-section {
    background-color: var(--fonbtn-fonsect-logofooter-color);
}
.section-btn{
    background-color: var(--fonbtn-fonsect-logofooter-color);
    color:var(--ferstlogo-btn-color);
}
.section-btn:hover, 
.section-btn:focus{
    background-color: var(--hover-focus-color);
        color: var(--body-color);
}


/* footer */
.page-footer{
    background-color: var(--logo-nav-footer-color);;
}
.logo-footer{
    color:var(--fonbtn-fonsect-logofooter-color);
}
.text-footer{
    color:var(--textfooter-color);
}

